
<div *ngFor="let list of recipe">
  <h3 [class]="ratingColor(list)" (click)="showDetails(list)">{{list.name}} <button (click)="editRecipe(list)">Edit</button></h3>
  <div *ngIf="selectedDetails">
    <ul>
      <li *ngFor="let ingredient of list.ingredients">{{ingredient}}</li>
    </ul>
    <p>{{list.instructions}}</p>
    <p>Recipe rating: {{list.rating}}</p>
    <button (click)="closeDetails()" type="button" name="button">Close</button>

  </div>
</div>

<div *ngIf="selectedRecipe">
<h3>Edit Recipe</h3>
<label>Edit Recipe Name</label>
<input [(ngModel)]="selectedRecipe.name" name="recipeName"><br>
<label>Edit Rating</label><br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="3">3 (Taste Great!)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="2">2 (Taste So-So!)<br>
<input type="radio" [(ngModel)]="selectedRecipe.rating" value="1">1 (Taste Awful!)<br>
<button (click)="finishedEditing()" type="button" name="button">Done</button>
</div>
